<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
<script>
    function payment(pg_mid, payment_method){
    IMP.init('imp65716835');
    var amount = 3000;
    var name = "감자";


    const data = {
        pg: pg_mid,
        pay_method: payment_method,
        merchant_uid: 'cart_' + new Date().getTime(),
        name: name,
        paid_amount: amount,
        amount: amount + 1,
        m_redirect_url : 'http://naver.com' //알리페이 m_redirect_url 필요. 결제 완료 후 리디렉션 될 URL
    };

    IMP.request_pay(data, response => {
        alert('callback!:' + JSON.stringify(response));
        jQuery.ajax({
            url: "/api/v1/payment/callback-receive",
            method: "POST",
            headers: {"Content-Type": "application/json"},
            data: JSON.stringify(response)
        }).done(function(data) {
            alert("Please, Check your payment result page!");
        })
    })


}
</script>
<body>
<div>
    <form>
    <button type="button" onClick = "payment('kakaopay', 'card')">카카오페이</button>
    <button type="button" onClick = "payment('smilepay', 'card')">스마일페이</button>
    <button type="button" onClick = "payment('kcp', 'card')">신용카드</button>
    <button type="button" onClick = "payment('alipay', 'card')">알리페이</button>
    <button type="button" onClick = "payment('html5_inicis', 'card')">kg이니시스</button>
    </form>
</div>

</body>
</html>